html,
body {
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-banner {
  background: #fdb21d;
  background: linear-gradient(
    90deg,
    rgba(253, 178, 29, 1) 50%,
    rgba(252, 124, 69, 1) 100%
  );
  height: 8rem;
  width: 100%;
  font-size: 4rem;
  color: white;
  justify-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo {
  display: block;
  width: 20rem;
  margin: 1rem auto;
}

.content {
  flex-grow: 1;
  background: #1dccfd;
  background: linear-gradient(
    180deg,
    rgba(29, 204, 253, 0.44) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.progress-bar {
  background-color: #eb7a34;
  height: 0.75rem;
  margin: 4rem auto;
  width: 80%;
  position: relative;
  display: flex;
}

.dots {
  position: absolute;
  z-index: 5;
  display: flex;
  left: 0;
  top: -225%;
  width: 90%;
  justify-content: space-between;
}

.dot {
  height: 4rem;
  width: 4rem;
  background-color: white;
  color: #eb7a34;
  border-radius: 50%;
  border: 2px solid #eb7a34;
  font-size: 3.5rem;
  text-align: center;
  &.filled {
    background-color: #eb7a34;
    color: white;
  }
}

.hide-question {
  display: none;
}

.title,
.subtext {
  color: black;
  width: 90%;
  text-align: center;
  font-size: 3.5rem;
}

.title {
  font-weight: 700;
  margin: 5rem auto;
}

.subtext {
  font-weight: 400;
  margin: 2.5rem auto;
}

.button-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

.grid-item {
  width: 100%;
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
}

.selects {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}

.select-item {
  display: flex;
  background-color: white;
  padding: 1.75rem 3rem;
  gap: 4rem;
}

input[type="radio"] {
  display: block;
  transform: scale(4);
}

.select-heading {
  font-size: 2rem;
  font-weight: 700;
}

.select-subheading {
  font-size: 1.5rem;
}

.illustration {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.subblock-text {
  font-size: 3rem;
  width: 90%;
  margin: 5rem auto;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 2rem;
  width: 80%;
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.back-btn {
  background-color: #1c25a3;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  height: fit-content;
  margin: auto;
}

.advance-btn {
  background-color: #3277a8;
  border-radius: 1rem;
  color: white;
  padding: 2rem 0;
  font-size: 4rem;
  flex-grow: 1;
}
